*{
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1366px;
    height: 768px;
    background: url("../assets/background.png");
    margin: 50px auto 0;
}

.block-logo {
    display: flex;
    padding: 51px 177px 17px 161px;
    cursor: pointer;
}

.logo-container:hover .logo-text-milan {
    color: #F26522;
}

.logo-container:hover .holy {
    color: #F26522;
}

.logo-container {
    width: 200px;
    text-decoration: none;
}

.logo-text {
    display: inline-block;
    width: 50%;
}

.logo-container:hover .img-logo {
    content: url("../assets/logo.svg");
}

.img-logo {
    width: 53px;
    height: 47px;
    margin-right: 10px;
}

.holy {
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
}

.logo-text-milan {
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 29px;
    line-height: 29px;
}


.contact {
    display: grid;
    grid-gap: 20px;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    direction: rtl;
    width: -webkit-fill-available;
}

.mail:hover {
    color: #F26522;
}

.number:hover {
    color: #F26522;
}

.mail,.number {
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.tours-milan {
    display: grid;
    justify-content: center;
}

.img-tour {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 78px 68px;
}

.img-tour-item {
    position: relative;
    width: 300px;
    height: 220px;
}

img {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    border-image-source: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

.sightseeing {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.img-tour-item:hover .price-tour {
    display: inline-block;
}

.img-tour-item:hover .text {
    color: #F26522;
}

.price-tour {
    text-decoration: none;
    display: none;
    position: absolute;
    background-color: #F26522;
    color: #fff;
    bottom: 0;
    right: 0;
    left: 0;
}

.from-50 {
    display: inline-block;
    padding: 7px 0 12px 16px;
}

.details-svg {
    display: inline-block;
}

.from {
    font-size: 10px;
    line-height: 10px;
    padding-bottom: 8px;
}

.pay {
    font-size: 20px;
    line-height: 20px;
}

.details {
    font-size: 14px;
    line-height: 14px;
    padding-left: 140px;
}

.price-tour:not(:last-child)::after {
    content: url("../assets/vector.svg");
    margin-left: 10px;
}

svg {
    color: #ffffff;
}

.img-text {
    text-align: center;
    padding: 20px;
}

.text {
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}

.copyright {
    padding-top: 90px;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    text-align: center;
}